* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --brown: #8d493a;
  --light-dark: #333;
  --beige: #f8ede3;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

body {
  background-color: var(--beige);
  color: var(--light-dark);
}

.header-margin {
  margin-bottom: 16rem;
}

/* Layout Styles */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: var(--brown);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

main {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 3rem;
}

section {
  margin: 8.6rem 0;
  scroll-margin-top: 15rem;
}

.logo-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}
.logo {
  max-height: 7rem;
  /* filter: invert(100%); */
}

nav ul {
  display: flex;
  font-size: 2rem;
  gap: 3.6rem;
  color: white;
  font-weight: 600;
}
nav ul li {
  transition: all 0.2s;
}

nav ul li:active {
  opacity: 0.5;
}

/* Specific Section Styles */

.selleries-container,
.available-selleries-container {
  display: flex;
  gap: 2.4rem;
  margin: 0 auto;
  padding: 2rem 0;
  overflow-x: scroll;
}

/* SLIDER */
.slider {
  display: flex;
  gap: 2.4rem;
  transition: all 0.5s;
}

.available-selleries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.available-selleries-header h5 {
  font-weight: 500;
  font-style: italic;
}

section h2 {
  font-size: 3.4rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.177);
  text-align: center;
  margin-bottom: 4.8rem;
}

.sellerie {
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.139);
}

.sellerie-img-container {
  height: 35rem;
}

.selleries-container img,
.available-selleries-container img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
}

.specs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 14rem;
  gap: 1rem;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem;
}

.sellerie li i {
  font-size: 1rem;
  color: #555555c3;
}

.about-section article {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 500;
}

.about-section p {
  margin: 2rem 0;
  text-align: justify;
  text-justify: inter-word;
}

.contact-section address {
  text-align: center;
}

.contact-section ion-icon {
  font-size: 6rem;
  color: #333;
  transition: all 0.2s;
}
.contact-section ion-icon:active {
  transform: scale(0.9);
}

footer {
  display: grid;
  gap: 3.4rem;
  padding: 3rem;
  font-size: 2rem;
  background-color: var(--brown);
  color: white;
}

.card-title {
  grid-column: -1 / 1;
  text-align: center;
  border-bottom: white solid 1px;
  padding-bottom: 2rem;
}

.card-title h3 {
  margin-bottom: 1rem;
}

.card-title h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

.id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.8rem;
}

.location ion-icon {
  font-size: 3rem;
}

.social-medias {
  display: flex;
  gap: 2.4rem;
}

.social-medias ion-icon {
  font-size: 5rem;
  transition: all 0.2s;
}
.social-medias ion-icon:active {
  transform: scale(0.9);
}

.assets {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  gap: 1.6rem;
}

.assets li {
  border-right: 1px white solid;
  padding-right: 1rem;
}

.assets li:last-child {
  border: none;
}

/* RESPONSIVE */

@media (max-width: 56.25em) {
  /* max-width: 900px */
  .sellerie-img-container {
    height: 25rem;
  }
  main {
    padding: 0 2rem;
  }
  section h2 {
    font-size: 3rem;
  }
  .sellerie h4 {
    font-size: 1.8rem;
  }
  .social-medias ion-icon {
    font-size: 4rem;
  }
}

@media (max-width: 37.5em) {
  /* max-width: 600px */
  header {
    flex-direction: column;
    gap: 2.4rem;
    padding: 1rem 2rem;
  }
  section h2 {
    margin-bottom: 2.4rem;
    font-size: 2.6rem;
  }
  nav ul {
    font-size: 1.3rem;
  }
  .logo {
    height: 5rem;
  }
  .sellerie {
    font-size: 1.4rem;
  }
  .sellerie h4 {
    font-size: 1.6rem;
  }
  .sellerie-img-container {
    height: 18rem;
  }
  .specs {
    font-size: 1.3rem;
  }
  .about-section article {
    font-size: 1.4rem;
    margin: 1.6rem 0;
  }
  .contact-section ion-icon {
    font-size: 4.8rem;
  }
  footer {
    gap: 2.8rem;
  }
  .card-title h3 {
    font-size: 2rem;
  }
  .card-title h4 {
    font-size: 1.2rem;
  }
  .id {
    flex-direction: column;
  }
  .assets {
    flex-direction: column;
    align-items: center;
  }
  .assets li {
    border: none;
  }
}
